/*h1 {
  font-size: 33px;
  !*color: blue;*!
}*/
/*.rForm{
  max-width: 200px;
  padding: 15px;
  margin: 0 auto;
}
.placeButton{
 text-align: center;

}
.but-btn{
  background-color: blue;
}*/

/*
.singForm{
  margin: 0 auto;
}*/
